@font-face {
    font-family: r_pro;
    src: url("../other/Relish_Pro.ttf"); /* A fonte apenas não pode ser utilizada para uso comercial. */
}
body{
    margin: auto;
    height: 100vh;
}
#app{
    background-color: #cccccc;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    background-color: #eeeeee;
    color: #202020;
}
.navbar p{
    padding-bottom: 5px;
    margin: 0 0;
    font-family: "r_pro";
    font-size: 40px;
    cursor: pointer;
    user-select: none;
}

.sidebar{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    width: 40px;
    height: calc(100vh - 40px);
    background-color: #dddddd;

}
.btns{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
.folder{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    height: 40px;
    width: 40px;
    transition: all 0.4s ease-in;
    box-shadow: 0px 0px 3px #909090;
    cursor: pointer;
}
.folder2{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    cursor: pointer;
    background: #dddddd;
    box-shadow: inset 5px 5px 8px #9b9b9b, 
                inset -5px -5px 8px #ffffff;
}
.folder:hover{
    background-color: #aaaaaa;
    transition: all 0.4s ease-in;
    box-shadow: 0px 0px 2px #909090;
}
.folder2:hover{
    transition: all 0.4s ease-in;
    border-radius: 4px;
    background: #aaaaaa;
    box-shadow: inset 5px 5px 8px #8f8f8f, 
                inset -5px -5px 8px #ffffff;
}
#folder, #folder2{
    width: 24px;
    height: 24px;
    fill: #aaaaaa;
}
.folder:hover > #folder path, .folder2:hover > #folder2 path{
    fill: #404040;
}
path{
    transition: fill 0.4s ease-out;
}
#folder2{
    fill: #707070;
}
#test2{
    background: #aaaaaa;
    pointer-events: none;
}
.content{
    background-color: #cccccc;
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
    box-shadow: inset 0px 0px 5px #aaaaaa;
}
.area{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.search{
    margin: 20px 80px;
    background-color: #dddddd;
    border: solid 1px #bbbbbb;
    height: 40px;
    width: calc(100%-40px);
    border-radius: 4px;

}
.search-content{
    background-color: #dddddd;
    border: solid 1px #bbbbbb;
    height: calc(100vh - 144px);
    width: calc(100%-40px);
    margin: 20px 80px;
    border-radius: 4px;
}